assets/geometry/Route1.gpx filter=lfs diff=lfs merge=lfs -text
assets/geometry/Route2.gpx filter=lfs diff=lfs merge=lfs -text
assets/geometry/Route3.gpx filter=lfs diff=lfs merge=lfs -text
assets/geometry/Route4.gpx filter=lfs diff=lfs merge=lfs -text
assets/geometry/Route5.gpx filter=lfs diff=lfs merge=lfs -text
assets/geometry/Route6.gpx filter=lfs diff=lfs merge=lfs -text
assets/geometry/Route7.gpx filter=lfs diff=lfs merge=lfs -text
assets/graph/largeG.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/mediumG.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/tinyG.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/graphWithoutDirectedCycle.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/multiSourceShortestPaths.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/strongComponents.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/graphWithDirectedCycle.txt filter=lfs diff=lfs merge=lfs -text
assets/tree/fortune.csv filter=lfs diff=lfs merge=lfs -text
assets/union-find/largeUF.txt filter=lfs diff=lfs merge=lfs -text
assets/union-find/mediumUF.txt filter=lfs diff=lfs merge=lfs -text
assets/union-find/tinyUF.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/largeEWG.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/mediumEWG.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/tinyEWG.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/largeEWD.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/mediumEWD.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/tinyEWD.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/tinyEWDn.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/tinyEWDnc.txt filter=lfs diff=lfs merge=lfs -text
assets/graph/tinyFN.txt filter=lfs diff=lfs merge=lfs -text
